<ion-header>
  <ion-toolbar>
    <ion-title>T-shirts</ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button"></ion-back-button>
   </ion-buttons>

   <ion-icon slot="end" name="filter-outline" class="back-button" (click)="showModal()"> Filtro </ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let tshirt of tshirts | keyvalue">         <!--TODO: Make them side by side -->
        <ion-card (click)="verTshirt(tshirt.key, 'roupainfo')">
          <img src="./assets/img/{{ tshirt.value.img }}" />
          <ion-card-header>
            <ion-card-title>{{ tshirt.value.title }}</ion-card-title>
            <ion-card-subtitle>{{ tshirt.value.price }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
    </div>
</ion-content>
