<ion-header>
  <ion-toolbar>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-header ion-text-center">
    <h1>
      IDENTUM
    </h1>
  </div>

  <div class="page-header ion-padding ion-text-center">
    <h2>
      Obrigado por criar conta na Identum! Enviamos um e-mail para confirmar o seu registo.
    </h2>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button routerLink="../../" routerDirection="forward" color="dark" expand="block">
      Continuar
    </ion-button>
  </div>

</ion-content>