<ion-header>
  
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!--Search bar-->
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Procurar"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <!--Page title-->
  <div>
    <div class="page-header">
      <h1>IDENTUM</h1>
    </div>
  </div>

  <!--Categories-->
  <div class="button ion-padding">
    <ion-button size="large" routerLink="/roupa" routerDirection="forward" color="light">Roupa</ion-button>
    <ion-button size="large" color="light">Calçado</ion-button>
    <ion-button size="large" color="light">Promoções</ion-button> <!-- TODO: Finish routes from every card or just the Roupa one-->
  </div>


</ion-content>
