<ion-header>
  <ion-toolbar>
    <ion-title>Roupa</ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button"></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button ion-padding">
    <ion-button size="large" routerLink="" routerDirection="" color="light">T-shirts</ion-button>
    <ion-button size="large" routerLink="" routerDirection="" color="light">Calças de ganga</ion-button>
    <ion-button size="large" routerLink="" routerDirection="" color="light">Casacos</ion-button>
    <ion-button size="large" routerLink="" routerDirection="" color="light">Camisas</ion-button>
  </div>
</ion-content>
