<ion-header>
  <ion-toolbar>
    <ion-title>Roupa</ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button"></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top ion-padding-horizontal">
    <ion-button size="large" routerLink="/roupa-tshirt" routerDirection="forward" color="light">T-shirts</ion-button>
    <ion-button size="large" routerLink="" color="light">Calças de ganga</ion-button>
    <ion-button size="large" routerLink="" color="light">Casacos</ion-button>
    <ion-button size="large" routerLink="" color="light">Bermudas</ion-button>
    <ion-button size="large" routerLink="" color="light">Roupa interior</ion-button>
    <ion-button size="large" routerLink="" color="light">Roupa de banho</ion-button>
  </div>
</ion-content>
