<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="selected" tab="homepage">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Loja</ion-label>
    </ion-tab-button>

    <ion-tab-button class="selected" tab="favourits">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button class ="selected" tab="cart" routeLink="./cart"routeDirection="forward">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>

    <ion-tab-button class ="selected" tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar> 

</ion-tabs>
