<ion-header>
  <ion-toolbar>
    <ion-title>Reserva nº: {{tshirtInfo.reservationId}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="tshirtInfo">
    <img src="./assets/img/{{ tshirtInfo.img }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ tshirtInfo.desc }}</ion-card-subtitle>
      <ion-card-title>{{ tshirtInfo.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider class="divide">
        <ion-icon color="dark" name="cash-outline" slot="start"></ion-icon>
        <ion-badge color="dark" slot="end">Preço: {{ tshirtInfo.price }}</ion-badge>
      </ion-item-divider>
      <ion-item-divider class="divide">
        <ion-icon color="dark" name="storefront-outline" slot="start"></ion-icon>
        <ion-badge color="dark" slot="end">Loja: {{ tshirtInfo.store }}</ion-badge>
      </ion-item-divider>
      <ion-item-divider>
        <ion-icon color="dark" name="shirt-outline" slot="start"></ion-icon>
        <ion-badge color="dark" slot="end">Tamanho: {{ tshirtInfo.size }}</ion-badge>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
    
</ion-content>