<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button" ></ion-back-button>
    </ion-buttons>
    <ion-title>As suas Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor="let tshirt of tshirts | keyvalue">
    <ion-list>
        <ion-item>
          <ion-icon slot="end" name="chevron-forward-outline" (click)="verTshirt(tshirt.key, 'reservationinfo')"></ion-icon>
          <ion-label>{{ tshirt.value.date }}<p>{{ tshirt.value.price }}</p></ion-label>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
