<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button" ></ion-back-button>
    </ion-buttons>
    <ion-title>As suas Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
      <ion-item>
        <ion-icon slot="end" name="chevron-forward-outline" (click)="verDetalheTshirt('tshirt-xpto')"></ion-icon>
        <ion-label>21 mar 2022<p>99$</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="end" name="chevron-forward-outline" (click)="verDetalheTshirt('1234')"></ion-icon>
        <ion-label>09 mai 2022<p>1000$</p></ion-label>
      </ion-item>
  </ion-list>

</ion-content>
