<ion-header>
  <ion-toolbar>
    <ion-title>As Suas Informações</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="bold">

    <ion-list-header>
      <ion-label>      <ion-icon slot="start" name="person-outline"></ion-icon>
        Dados Pessoais</ion-label> 
    </ion-list-header>
    <ion-item lines="none">
      <ion-icon slot="end" name="chevron-forward-outline" class="color" ></ion-icon>
      <ion-label>Nome <p>Nuno Lopes</p></ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="chevron-forward-outline" class="color"></ion-icon>
      <ion-label>E-mail <p>lopes****@*****.com</p></ion-label>
    </ion-item>
    <ion-item lines="lines">
      <ion-icon slot="end" name="chevron-forward-outline" class="color"></ion-icon>
      <ion-label>Número de telemóvel <p>937******</p></ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        Alterar a palavra-passe</ion-label> 
    </ion-list-header>
    <ion-item>
      <ion-icon slot="end" name="create-outline" class="color"></ion-icon>
      <ion-label>Palavra-passe</ion-label>
    </ion-item>


    
  </ion-list>
</ion-content>
