<ion-header>
  <ion-toolbar>
    <ion-title>{{tshirt.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="tshirt">
    <img src="./assets/img/{{ tshirt.img }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ tshirt.desc }}</ion-card-subtitle>
      <ion-card-title>{{ tshirt.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="height: 110%;">
      <ion-item-divider>
        <ion-icon color="dark" name="cash-outline" slot="start"></ion-icon>
        <ion-icon color="danger" name="heart-outline" slot="start" class="left" (click)="presentToast()"></ion-icon>
        <ion-badge color="dark" slot="end">Preço: {{ tshirt.price }}</ion-badge>
      </ion-item-divider>

      <ion-item>
        <ion-label>Selecione o tamanho</ion-label>
        <ion-select multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-select-option value="0-3" disabled="true">0-3</ion-select-option>
          <ion-select-option value="3-6" disabled="true">3-6</ion-select-option>
          <ion-select-option value="6-12">6-12</ion-select-option>
          <ion-select-option value="12-18" disabled="true">12-18</ion-select-option>
          <ion-select-option value="18-24" disabled="true">18-24</ion-select-option>
          <ion-select-option value="2" disabled="true">2</ion-select-option>
          <ion-select-option value="3" disabled="true">3</ion-select-option>
          <ion-select-option value="4" disabled="true">4</ion-select-option>
          <ion-select-option value="5" disabled="true">5</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Selecione a loja</ion-label>
        <ion-select multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-select-option value="braga" >Braga</ion-select-option>
          <ion-select-option value="porto" disabled="true">Porto</ion-select-option>
          <ion-select-option value="lisboa" disabled="true">Lisboa</ion-select-option>
          <ion-select-option value="viana" disabled="true">Viana do Castelo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" shape="round" class="ion-padding ion-text-center" color="light" routerLink="../tabs/profile" routerDirection="forward">
        Crie conta para finalizar
      </ion-button>
      
      <ion-button expand="block" fill="clear" shape="round" color="dark" (click)="presentToastAdd()">
        Se já tem conta..
      </ion-button>
      
    </ion-card-content>
  </ion-card>

</ion-content>
