<ion-header>
  <ion-toolbar>
    <ion-title>{{tshirtInfo.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" class="back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="tshirtInfo">
    <img src="./assets/img/{{ tshirtInfo.img }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ tshirtInfo.desc }}</ion-card-subtitle>
      <ion-card-title>{{ tshirtInfo.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider>
        <ion-icon color="success" name="cash-outline" slot="start"></ion-icon>
        <ion-badge color="success" slot="end">Price: {{ tshirtInfo.price }}</ion-badge>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>

</ion-content>